main {
    color: #fff;
    padding: 50px 0;
    h1 {
        font-size: 100px;
    }
    h2 {
        font-size: 35px;
        margin: 20px 0;
    }
    button.piani {
        background-color: black;
        width: 200px;
        border-radius: 40px;
        padding: 20px;
        margin: 20px 0;
        color: #fff;
        font-size: 28px;
        cursor: pointer;
    }
    h5 {
        margin: 20px 0;
        font-size: 16px;
    }
}